.Home{
    background-color: rgb(61, 61, 61);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logout_button{
    border-radius: 25%;
    padding: 4px 16px;
    margin-right: 15px;
    background-color: #566AA7;
    border: 1px solid #4c5e92;
}
.login_header{
    color: white;
    font-size: 20px;
    font-weight: bold;
}