.Home {
  background-color: rgb(61, 61, 61);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logout_button {
  border-radius: 25%;
  padding: 4px 16px;
  margin-right: 15px;
  background-color: #566aa7;
  border: 1px solid #4c5e92;
}
.login_header {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.flex_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  background-color: rgba(92, 75, 89, 0.364);
  min-height: 200px;
}
.flex_div1 {
  /* background-color: #faebd8; */
  min-height: 200px;
  min-width: 200px;
  margin-right: 15px;
}
.user_image {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
